@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2592fc;
  --primary-dark: #242526;
  --secondary-dark: #1b1c1d;
}

.ring {
  animation: ring;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}